nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 8px;
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: #FFF;
	justify-content: space-between;
}

a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.bannertype {
	margin-top: 64px;
}

h1 {
	color: blue;
}

main {
	display: flex;
	flex-direction: column;
	padding-top: 72px;
}


.typegrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 384px);
}

.image {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	padding: 0px;
	gap: 10px;

}

.frame {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 10px;
}

.size {
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text {
	opacity: 0;
}

.image:hover .text {
	opacity: 1;
}

.size1 {
	width: 320px;
	height: 384px;
}

.headTypes {
	display: flex;
	flex-direction: row;
}

.typoHead {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}


.text {
	display: block;
	position: absolute;
	top: 70%;
	left: 10%;

}

.homeh2 {
	color: black;
	font-size: 36px;
	margin: 0px;
}

.image1 {
	background-color: #F8FFA8;
}

.image2 {
	background-color: #FFE3A5;
}

.image3 {
	background-color: #FFFCC4;
}

.image4 {
	background-color: #FFDFD0;
}

.image5 {
	background-color: #FFB8CC;
}

.image6 {
	background-color: #C3C7FF;
}

.image7 {
	background-color: #FFDEFD;
}

.image8 {
	background-color: #D6F3FF;
}


body {
	display: flex;
	justify-content: center;
}

.content-container {
	width: 904px;
	margin: auto;
}

h1 {
	font-size: 30px;
	text-align: left;
}

h2 {
	font-size: 50px;
	text-align: center;
}

p {
	font-size: 15px;
}

.title-block {
	width: 600px;
	height: 210px;
	background-color: rgb(102, 96, 221);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-content: center;
	color: rgb(255, 255, 255)
}

.answer-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 16px 0 23px 0;
}

.answer-block {
	width: 286px;
	height: 286px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.07) 0 0 0 1px;
	text-align: center;
	margin-bottom: 15px;
	overflow: hidden;
}

.answer-block img {
	width: 100%;
}

.answer-block p {
	font-size: 11px;
	font-style: italic;
}

.answer-block a {
	color: rgb(137, 137, 137);
}

.typeh2 {
	font-size: 56px;
	padding-top: 16px;
	padding-bottom: 20px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.typeh1 {
	padding-top: 80px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	font-size: 24px;
}

.subhead {
	width: 80%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 120px;
	margin: 0px;
	font-size: 22px;
	text-align: right;

}

.typeh22 {
	font-size: 24px;
	padding-top: 80px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	margin: 0px;
}

.typeh33 {
	font-size: 24px;
	padding-top: 42px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

.p1 {
	font-size: 24px;
	padding-bottom: 20px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

.p2 {
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

.moreinfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 75%;
	margin-left: 0px;
}