h1 {
	color: blue;
}

section {
	width: 100%;
	padding: 0;
	margin: 0;
	max-width: none;
	background-image: url(src/images/mastermind.svg);
	height: 100vh;
}

div.quiz0 {
	background-image: url(src/images/Group.svg);
}

/* This uses the same value as --size-xs. */
@media screen and (width >=320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}